"""
GraphQL enums
"""

import strawberry
import enum
{%- for enum in enums %}


@strawberry.enum
class {{enum.name}}(enum.StrEnum):
    {%- for value in enum.permissible_values %}
    {#- SQLAlchemy freaks out about spaces in enum values :'( #}
    {{value | regex_replace('[^0-9A-Za-z]', '_') }} = "{{value | regex_replace('[^0-9A-Za-z]', '_') }}"
    {%- endfor %}
{%- endfor %}
