"""
GraphQL input type for limit and offset.
"""

import strawberry
from typing import Optional, TypedDict

@strawberry.input
class LimitOffsetClause(TypedDict):
    limit: Optional[int] | None
    offset: Optional[int] | None
